<!doctype html>
<html>
    <head>
        <title>Integrate Mailchimp</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.1.25/spectre.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
    	<div class="row">
            <div class="col-md-6" style="margin: 0 auto">
                <h4>Conectarse con Mailchimp</h4><br>
        		<a class="btn btn-primary" href="/mailchimp/auth/authorize">Login con MailChimp</a>
        	</div>
        </div>
    </body>
</html>
